<% provide(:title, "All users") %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
<%# Everything below can be replaced with some Rails magic. %>
    <%# <% @users.each do |user| %>
        <%# <%= render user %>
    <%# <% end %>
    <%# The render below automatically iterates over the @users and renders a _user partial for each one. %>
    <%= render @users %>
</ul>

<%= will_paginate %>