<footer class='footer'>
    <small>
        Twitter Clone by <a href="https://devincloudkelly.github.io/">Devin Cloud Kelly</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="https://devincloudkelly.github.io/">Devin Cloud Kelly</a></li>
        </ul>
    </nav>
</footer>